.footer {
    width: 100%;
}

/* Estilo da primeira seção do footer */
.footer-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 159px;
    padding: 0 20px;
    box-sizing: border-box; /* Para incluir padding na largura total */
    background: linear-gradient(to right, #EDAB45, #E35909); /* Fundo degradê */
}

/* Estilo da logo */
.footer-logo {
    width: 301px;
    height: 128px;
}

/* Estilo para os links */
.footer-links {
    display: flex;
    gap: 20px; /* Espaçamento entre colunas */
}

.link-column {
    display: flex;
    flex-direction: column; /* Para empilhar links verticalmente */
}

.link-column a {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 15px;
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove a decoração do link */
    font-size: 20px; /* Tamanho da fonte dos links */
    font-weight: normal; /* Peso regular */
}

/* Estilo da imagem no footer */
.footer-image {
    width: 389px;
    height: 106px;
}

/* Estilo da segunda seção do footer */
.footer-section-2 {
    font-family: ROBOTO;
    background-color: #1E1E1E;
    color: white; /* Para garantir que o texto seja legível */
    height: 159px;
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Para incluir padding na altura total */
    text-align: center; /* Centraliza o texto */
    display: flex; /* Para alinhar textos */
    flex-direction: column; /* Alinha os textos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    font-size: 15px;
}

