/* Estilo do header */
.header {
    background-color: var(--color-primary);
    padding: 10px 0;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-left, .menu-right {
    display: flex;
    justify-content: center;
}

.menu-left a, .menu-right a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    align-items: center;
    display: flex;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-left a:hover, .menu-right a:hover {
    color: var(--color-secondary);
    transform: scale(1.1);
}

.menu-left a:hover .icon, .menu-right a:hover .icon {
    filter: brightness(0) invert(1);
}

.logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}
/* Estilo do header */